@import url('https://fonts.googleapis.com/css2?family=Asset&family=Calistoga&family=Foldit&family=Passion+One&family=Poppins&family=Source+Sans+Pro:ital,wght@1,700&display=swap');
.page1{
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-left: 50px;
    overflow: scroll;
    padding-bottom: 50px;
}
.field{
    width: 400px;
    height: 30px;
    margin: 20px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid rgb(145, 136, 136);
}
.cn{
    width: 200px;
    height: 40px;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    color: aliceblue;
}
.error-message{
    color: red;
}
.heading{
    font-family: poppins-bold-webfont;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    color: #000;
    font-size: 25px;
    position: relative;
    display: flex;
    align-items: center;
    left: 185px;
    top: -19px;
   
}
div >p{
    text-align: center;
    font-size: 12px;
    color: #777585;
    margin: 4px 0 20px;
    line-height: 24px;
} 
.fieldLabel{
    margin: 10px;
}
.heading2{
    position: relative;
    top: -15!important;
    display: flex;
    align-items: center;
    left: 125px;
    line-height: 0;
    text-align: center;
    font-size: 12px;
    color: #777585;
    margin-left: 42px;
    margin-top: -10px;
   
}
.itsFree{
    font-size: 11px;
    display: inline-block;
    background-color: #eaf6f2;
    color: #2ba682;
    text-align: center;
    padding: 2px 8px;
    margin: 2px 0 0 252px;
    -webkit-border-radius: 40px;
}

/* social login*/
.socialLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 706px;
}
.socialLoginTab{
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #1d1934;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #f4f4f5;
    padding: 8px 10px;
    -webkit-border-radius: 8px;
}
.linkedInTab>img{
    height: 22px;
}

/* upload resume*/
.uploadResumeCont .uploadResume{
    display: flex;
    position: relative;
    cursor: pointer;
    gap: 20px;
    background-color: #fcfafe;
    padding: 14px;
    margin: 15px 0 5px;
    transition-duration: .6s;
    border: 1px solid #6e00be;
    -webkit-border-radius: 8px;
    -webkit-box-sizing: border-box;
}
.uploadResumeCont .uploadResume .uploadResumeContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contentTilte{
    color: #6e00be;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.uploadResumeCont .uploadResume:after {
    border: 8px dotted #fcfafe;
    position: absolute;
    top: -4px;
    left: -1px;
    bottom: -4px;
    right: -1px;
    content: "";
}
.uploadResumeCont .uploadResume .uploadResumeContent .resumeFormat{
    font-size: 12px;
    line-height: 18px;
    color: #455a64;
    opacity: .7;
    margin: 2px 0 0;
}
.uploadIcon{
    color: #6e00be;
    width: 2rem;
   height: 2rem;
}
.uploadButtonText{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #777585;
}

/* form */
.fieldGroup{
    margin: 16px 0;
    outline: none;
    padding: 0;
    font-weight: 400;
    list-style: none;
    -webkit-box-sizing: border-box;
    font-family: poppins-regular-webfont;
}
.formLabel{
    cursor: default;
    display: block;
    color: #1d1934;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: poppins-regular-webfont;
}
.formTextbox{
    width: 600px!important;
}
.formMobile{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cbc8d0;
    appearance: none;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}