.App {
    height: 100vh;
    width: 100vw;
    background-color: rgb(247, 247, 248);
    overflow-y: hidden!important;
    overflow-x: hidden!important;
  }
  a{
    text-decoration: none;
  }
  ::-webkit-scrollbar{
    width:.5rem
  }
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 1rem;
    border:0.2rem solid transparent;
    background-clip: content-box;
  }

::-webkit-scrollbar-thumb:hover{
  background: #555;
}
  #logo {
    width: 130px;
    height: 100px;
    position: relative;
    left: 100px;
    top: -20px;
    }
  .hd {
    height: 70px;
    width: 100vw;
    background-color: rgb(54 1 80);
  }
  .login{
    position: relative;
    margin-left: 900px;
    padding: 10px;
    color: white;
  }
  .text-color{
    color: white;
  }
  .sec1 {
    width: 30%;
    height: 100vh;
  }
  .sec2 {
    width: 60%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    border-radius: 20px;
    overflow: hidden;
    
  }
  #page{
    overflow-y: scroll!important;
  }
page::-webkit-scrollbar{
    display: none;
}

  li {
    margin: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    padding-left: 20px;
    display: flex;
  }
  .liNumber1 {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(122, 15, 203);
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -5px;
    margin-right: 30px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  .liNumber11 {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(206, 197, 212);
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -5px;
    margin-right: 30px;
    padding-top: 10px;
  }
  .liNumber2 {
    width: 55px;
    height: 52px;
    border: 2px solid rgb(122, 15, 203);
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -5px;
    margin-right: 30px;
    margin-left: 1px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .liNumber22 {
    width: 55px;
    height: 52px;
    border: 2px solid rgb(206, 197, 212);
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin-left: 1px;
    top: -5px;
    margin-right: 30px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  .liNumber3 {
    width: 55px;
    height: 50px;
    border: 2px solid rgb(122, 15, 203);
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -5px;
    margin-right: 30px;
    margin-left: -2px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .liNumber33 {
    width: 55px;
    height: 52px;
    border: 2px solid rgb(206, 197, 212);
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin-left: -2px;
    top: -5px;
    margin-right: 30px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  .liNumber4 {
    width: 55px;
    height: 50px;
    border: 2px solid rgb(122, 15, 203);
    text-align: center;
    border-radius: 50%;
    position: relative;
    top: -5px;
    margin-right: 30px;
    margin-left: -2px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .liNumber44 {
    width: 55px;
    height: 52px;
    border: 2px solid rgb(206, 197, 212);
    text-align: center;
    border-radius: 50%;
    position: relative;
    margin-left: -2px;
    top: -5px;
    margin-right: 30px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
  }
  .d1 {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 86px;
    border-right: 2px solid rgb(122, 15, 203);
  }
  .d11 {
    width: 100px;
    height: 85px;
    position: absolute;
    left: 82px;
    border-right: 2px solid rgb(187, 181, 192);
  }
  .d2 {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 86px;
    top: 150px;
    border-right: 2px solid rgb(122, 15, 203);
  }
  .d22 {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 88px;
    top: 150px;
    border-right: 2px solid rgb(187, 181, 192);
  }
  .d3 {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 87px;
    top: 250px;
    border-right: 2px solid rgb(122, 15, 203);
  }
  .d33 {
    width: 100px;
    height: 80px;
    position: absolute;
    left: 90px;
    top: 238px;
    border-right: 2px solid rgb(187, 181, 192);
  }
  .d4{
    width: 100px;
    height: 80px;
    position: absolute;
    left:87px;
    top:341px;
    border-right: 2px solid rgb(122,15,203);
  }
  .d44{
    width: 100px;
    height: 80px;
    position: absolute;
    left: 90px;
    top: 357px;
    border-right: 2px solid rgb(187,181,192);
  }
  
  /* home page*/
  .home{
    
    background: url("https://media.foundit.in/trex/public/theme_3/dist/images/hero-section-desktop-guest.svg?8dbf3342cdc95b7e85dd4f4eec12fc75");
    background-repeat: no-repeat ;
    background-size: cover;
    color: #f7f2fa;
    height: 387px;
    background-position: bottom;
}
.home-textContainer{
    width: auto;
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    line-height: 36px;
    font-size: 24px;
    font-weight: 600;
    color: #1d1934;
    margin: 0 27px;
    left: 0;
}

.job-text{
    margin-left: 550px;
    margin-top: 100px!important;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
}
.regbtn{
  margin-left: 595px; 
}
.add{
    background: url("https://tpc.googlesyndication.com/simgad/13083617733137656442");
    width: 800px;
    height: 250px;
    margin-top: 100px;
    margin-left: 300px;   
}
.cardImg{
    height: 200px;
    width: 100%;
    margin-top: -30px
}
  

  /*Media query for mobile devices*/
@media(max-width: 480px){
    .sec1{
        width: 30%;
        display:none
    }
    .sec2{
        width: 100%!important;
    }
   #logo{
    left: 20px;
   } 
   .login{
    margin-left: 80px;
   }
   .home{
    margin-top: 40px;
}
/* .home-textContainer{
  left: -500px;
  top: -145px;
} */
.job-text{
    margin-left: 59px!important;
    margin-top: -100px!important;   
}
.regbtn{
  margin-left: 90px;
}
.add{
    margin-left: 5px!important;
    width: 348px;
}
}



/*media query for low resolution Tablets,,ipads */
@media (min-width:481px) and (max-width: 767px){
    .sec1{
        width: 0%;
        display:none
    }
    .sec2{
        width: 100%;
    }
    .home{
      margin-top: 40px;
  }
  .home-textContainer{
      width: auto;
      
      transform: translateY(-50%);
      line-height: 36px;
      font-size: 24px;
      font-weight: 600;
      color: #1d1934;
  }
  .job-text{
      margin-left: -500px!important;
      margin-top: -300px!important;
      position: absolute;
  }
  .add{
      margin-left: 30px!important;
      width: 100%;
  }
    
}

/*media query for tablets ipads portaits mode*/
@media (min-width:768px) and (max-width:1024px){
    .sec1{
        width: 0%;
        display:none
    }
    .sec2{
        width: 100%;
    }
    .home-textContainer{
      width: auto;
      position: absolute;
      transform: translateY(-50%);
      line-height: 36px;
      font-size: 24px;
      font-weight: 600;
      color: #1d1934;
  }
  .job-text{
      margin-left: -500px!important;
      margin-top: -300px!important;
     
  }
  
  .add{
      margin-left: 30px!important;
      width: 100%;
  }
}

/*media query for laptops and desktops*/
@media (min-width:1025px) and (max-width:1280px){
    .sec1 {
        width: 30%;
        height: 100vh;
        
      }
      .sec2 {
        width: 50%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        border-radius: 20px;
        overflow: hidden;
      }
}

/*media query for large screens*/
@media (min-width:1281px){
    .sec1 {
        width: 30%;
        height: 100vh;
        
      }
      .sec2 {
        width: 50%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        border-radius: 20px;
        overflow: hidden;
      }
}



